body {
    background-color:rgb(240, 239, 237);
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 32px;
    color: #2b2b2b;
}

.carousel-frame {
    max-width: 55%;
    max-height: 500px;
    margin: auto;
}
.infobox {
    margin:auto;
    max-width:55%;
    padding-top:1.5em;
    padding-bottom: 2.5em;
}
.threecards {
    max-width: 55%;
    margin: auto;
    padding-top: 2.5em;
}
.contact-container {
    padding: 1em;
    max-width: 55%;
    margin: auto;
    background-color:#e6e6e6;
    border-radius: 15px;
    border:1px solid rgba(114, 114, 114, 0.37);
}